<menu>
    <menuitem label='Home'>
        <icon>fa:home fa-fw</icon>
        <menu>
            <menuitem label='Início'>
                <icon>fa:life-ring fa-fw</icon>
                <action>WelcomeView</action>
            </menuitem>
            
            <menuitem label='Aprenda'>
                <icon>fa:book fa-fw</icon>
                <action>LearnView</action>
            </menuitem>
            
            <menuitem label='Template'>
                <icon>fa:desktop fa-fw</icon>
                <action>TemplateView</action>
            </menuitem>
            
            <menuitem label='Construa'>
                <icon>fa:magic fa-fw</icon>
                <action>BuildView</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Configuração'>
        <icon>fa:cog fa-fw</icon>
        <menu>
            <menuitem label='Ver módulos'>
                <icon>fa:cube fa-fw</icon>
                <action>SystemModulesCheckView</action>
            </menuitem>
            
            <menuitem label='Setup PHP'>
                <icon>fa:code fa-fw</icon>
                <action>SystemPHPInfoView</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Básico'>
        <icon>fa:cube fa-fw</icon>
        <menu>
            <menuitem label='Template Básico'>
                <icon>fa:circle fa-fw</icon>
                <action>TemplateViewBasico</action>
            </menuitem>
            
            <menuitem label='Template com máscaras'>
                <icon>fa:circle fa-fw</icon>
                <action>TemplateViewMask</action>
            </menuitem>
            <menuitem label='Template com repetição'>
                <icon>fa:circle fa-fw</icon>
                <action>TemplateRepeat</action>
            </menuitem>
            <menuitem label='Template com Breadcrumb'>
                <icon>fa:circle fa-fw</icon>
                <action>TemplateBreadcrumb</action>
            </menuitem>
            <menuitem label='Template Janela Simples'>
                <icon>fa:circle fa-fw</icon>
                <action>TemplateWindow</action>
            </menuitem>
            <menuitem label='Template Janela Sob Demanda'>
                <icon>fa:circle fa-fw</icon>
                <action>TemplateWindowOnDemand</action>
            </menuitem>
            <menuitem label='Template Janela Modal'>
                <icon>fa:circle fa-fw</icon>
                <action>ModalWindowView</action>
            </menuitem>
            <menuitem label='Template Cortina'>
                <icon>fa:circle fa-fw</icon>
                <action>TemplateSidebarView</action>
            </menuitem>
            <menuitem label='Embedded PDF'>
                <icon>fa:circle fa-fw</icon>
                <action>TemplateEmbeddedPdf</action>
            </menuitem>
            <menuitem label='Table view'>
                <icon>fa:circle fa-fw</icon>
                <action>TableView</action>
            </menuitem>
            <menuitem label='PanelGroup'>
                <icon>fa:circle fa-fw</icon>
                <action>PanelGroupView</action>
            </menuitem>
            <menuitem label='ScrollView'>
                <icon>fa:circle fa-fw</icon>
                <action>ScrollView</action>
            </menuitem>
            <menuitem label='NotebookView'>
                <icon>fa:circle fa-fw</icon>
                <action>NotebookView</action>
            </menuitem>
        </menu>
    </menuitem>
</menu>
